# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*$py.class

# =====================
# Virtual Environment
# =====================
venv/
env/
.venv/

# =====================
# Django
# =====================
*.log
db.sqlite3
db.sqlite3-journal
media/

# =====================
# Django migrations (istersen açabilirsin)
# migrations/__pycache__/

# =====================
# Static files
# =====================
staticfiles/

# =====================
# Environment variables
# =====================
.env

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/
*.swp

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
desktop.ini

# =====================
# Excel / PDF / Uploads
# =====================
*.xlsx
*.xls
*.pdf
*.jpg
*.jpeg
*.png

# =====================
# Git
# =====================
.git/
